.input_container{
    display: flex;
    flex-direction: column;
}

.input_label{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 9px;
    margin-left: 9px;
}

.input{
    background-color: #323945;
    width: 388px;
    height: 53px;
    border-radius: 7px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding-left: 19px;
    outline: none;
    border: 1px solid transparent;
}

input:focus{
    box-shadow: 0px 3px 6px #1d90f43a;
    border: 1px solid #1D90F4;
}

.login-form{
    display: flex;
    flex-direction: column;
}