@media screen and (max-width: 1500px){
    :root{
        --home-padding: 5.6%;
    }
    
    .home-header {
        margin-top: 30px;
    }
    
    .home-searchbar .input {
        height: 34px;
    }

    .result-tag, .home-search_button{
        height: 34px;
    }
    
}

@media screen and (max-width: 1500px){
    .home-catalogue{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1064px){
    
    .home-catalogue{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 865px){
    .home-wrapper{
        flex-direction: column;
    }
    .home-menu{
        display: flex;
        margin-top: 18px;
        height: auto;
    }
    .home-nav__button{
        margin-bottom: 0;
    }
    .home-menu__title{
        display: none;
    }
    
    .logout-btn{
        margin-bottom:-109px;
        position: absolute;
        right: var(--home-padding);
    }
    .results-row{
        width: 0;
    }
    .home-catalogue {
        width: 100%;
        justify-items: center;
    }
    .home-searchbar .input{
        width: 77vw;
    }
}

@media screen and (max-width: 660px){
    :root {
        --home-padding: 2.6%;
    }
    .home-header{
        margin-bottom:8px;
    }
   
    .home-catalogue{
        grid-template-columns: repeat(2, 1fr);
    }
}
